<html>
<head>
<title>MEDICAL INSURANCE PRICE PRED</title>
</head>
<body background="static\new.jpg">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MEDICAL INSURANCE PRICE PRED
    <form action="/predict_charge" method="POST">
        <center>  
        <br><br>
        <br>
        <label>age:</label><input type="text" name="age"><br><br>
        <label>sex:</label><input type="text" name="sex"><br><br>
        <label>bmi:</label><input type="text" name="bmi"><br><br>
        <label>children:</label><input type="text" name="children"><br><br>
        <label>smoker:</label><input type="text" name="smoker"><br><br>
        <label>region:</label><input type="text" name="region"><br><br>
    
        <input type="submit">
        <br><br>
        
        <br><br> <br><br> <br><br>
        
        </center>
    </form>
    
</body>
</html>
